$xivita-blue: #00C2CB !default;
$xivita-dark-blue: #6399AE !default;
$xivita-grey: #545454 !default;
$menu-bg: white !default;
$tooltip: rgba(255,255,255,0.6) !default;
$popup: $tooltip;
$menu-border-radius: 2px !default;
$menu-border-thickness: 0 !default;
